body{
    background-color: rgb(2, 2, 58);
}
header{
    font-size: 23px;
    text-align: center;
    color: white;
}
.todo-grid,
.cart{
    display: grid;
    grid-template-columns: 500px 110px 100px ;
    align-items: center;
    column-gap: 3px;
    font-size: 20px;
    row-gap: 20px;
}
.cart{
    margin-bottom: 30px;
}
.head-cart{
    display: flex;
    justify-content: center;
    margin-top: 90px;
      
}
.plol{
 height: 40px;
 border-radius:40px;
 outline: none;
 padding-left: 30px ;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
}
.duedate{
    height: 40px;
    background-color:rgb(6, 6, 146);
    outline: none;
    border: none;
    font-weight: bolder;
    color: white;
    padding: 2px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 6px;
    cursor: pointer;
    border-radius: 30px;
}
.add-cart{
    height: 50px;
    background-color: rgb(255, 169, 9);
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
}
.todo-grid{
  color: white;
  background-color:rgba(26, 26, 34, 0.404);
  border-radius: 40px;
  
  
}
.cart-btn{
    height: 50px;
    background-color: rgb(255, 120, 9);
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
}
.cartname{
    font-size: 25px;
    padding-left:20px ;
    cursor: pointer;
}
.cartdate{
    text-align: center;
    cursor: pointer;
}
@media (max-width:420px){
    header{
        font-size: 16px;
    }
    .todo-grid,
.cart{
    display: grid;
    grid-template-columns: 300px 50px ;
    align-items: center;
    column-gap: 3px;
    font-size: 20px;
    row-gap: 20px;
}
    .duedate,.cartdate{
        display: none;
    }
    .head-cart{
        margin-top: 50px;
    }
    .add-cart,.cart-btn,.plol{
        height: 30px;
    }
    .add-cart,.cart-btn{
        font-size: 13px;
        padding: 2px;
    }
    .todo-grid{
        border-radius: 20px;
    }
}