body{
    background-color: blue;
}
.todo-grid,
.cart{
    display: grid;
    grid-template-columns: 200px 200px 100px ;
    row-gap: 15px;
    column-gap: 40px;
    font-size: 20px;
}
.cart{
    margin-bottom: 20px;
}